/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero-banner {
  overflow: hidden;
  padding: 4rem 0;
  position: relative;
  text-align: center;
}

@media (width <= 996px) {
  .hero-banner {
    padding: 2rem;
  }
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.quick-install {
  margin-top: 2rem;
}

.quick-install code {
  background: rgb(255 255 255 / 10%);
  border-radius: 6px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
}
